img {
    width: 150px;
}
header {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 600px;
}
li {
    width: 250px;
    text-align: center;
}